@model WebApplication1.Models.Student;
@* Show form information from another page *@
<h1>The following values are from the form: </h1>
<h2>ID: @Model.Id</h2>
<h2>Name: @Model.Name</h2>
<h2>Age: @Model.Age</h2>
<h2>Email: @Model.Email</h2>
